<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<title>ログアウトが完了しました</title>
</head>
<body>
    <div class="container" align="center" style="margin-top: 300px; white-space: nowrap;">
        <h2>ログアウトが完了しました</h2>
        <div style="margin-left: 300px; margin-top: 30px;">
            <a href="login.html">ログイン</a>
        </div>
    </div>
</body>
</html>